@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(15, 55, 65);
  font-size: 62,5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #FFF;
  padding: 20px;
  border-radius: 1rem;
}

.relogio {
  font-size: 3em;
  margin: 20px 0;
}

.pausado {
  color: #CE4343;
}